#sidebar {
    height: 100vh;
    padding-top: 20px;
}

#sidebar .nav-link.active {
    font-weight: bold;
    background-color: #f8f9fa;
}

.nav-link {
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #e9ecef;
}
